.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: #1d1d1b;
  background-color: #ffffff;
  margin: 0;
}
a {
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
p {
  margin: 0;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input[type="checkbox"] {
  border-color: #dce8ef;
}
.vis-hidd {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1999;
  cursor: pointer;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaBold/HelveticaBold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaMedium/HelveticaMedium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaRegular/HelveticaRegular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaLight/HelveticaLight.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.form__fieldset {
  padding: 0;
}
.form__select {
  padding-left: 15px;
  padding-top: 6px;
  padding-right: 40px;
  padding-bottom: 5px;
  border-radius: 3px;
  border: 1px solid #dce8ef;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/icons/select-arrow-icon.png);
  background-size: 12px 7px;
  background-position: calc(100% - 14px) 12px;
  background-repeat: no-repeat;
}
.form__select option {
  font-size: 15px;
  line-height: 22px;
  padding-left: 15px;
  padding-top: 6px;
  padding-right: 15px;
  padding-bottom: 5px;
  min-height: 28px;
  border-bottom: 1px solid #dce8ef;
  display: block;
}
.form__search-input,
.form__text-input,
.form__textarea {
  padding-left: 15px;
  padding-top: 6px;
  padding-right: 15px;
  padding-bottom: 5px;
  border: 1px solid #dce8ef;
}
.form__search-input::-webkit-input-placeholder, .form__text-input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  color: #636362;
}
.form__search-input::-moz-placeholder, .form__text-input::-moz-placeholder, .form__textarea::-moz-placeholder {
  color: #636362;
}
.form__search-input:-ms-input-placeholder, .form__text-input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  color: #636362;
}
.form__search-input::-ms-input-placeholder, .form__text-input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  color: #636362;
}
.form__search-input::placeholder,
.form__text-input::placeholder,
.form__textarea::placeholder {
  color: #636362;
}
.add-new-project__form-select {
  color: #636362;
}
.form__option {
  position: relative;
}
.form__option::after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
  border-radius: 50%;
}
.form__option--not-active::after {
  background-color: #dcdcdc;
}
.form__option--waiting-activation::after {
  background-color: #626262;
}
.form__option--waiting-completion::after {
  background-color: #f6a522;
}
.form__option--failed::after {
  background-color: #861115;
}
.form__option--waiting-verification::after {
  background-color: #75daff;
}
.form__option--waiting-decision::after {
  background-color: #0166ff;
}
.form__option--made-tested::after {
  background-color: #0166ff;
}
.form__option--not-made-tested::after {
  background-color: #bd1ee1;
}
.form__option--urgent::after {
  background-color: #fff602;
}
.form__option--made-first::after {
  background-color: #c5343a;
}
.big-title {
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
}
.header {
  background-color: #f4f8fa;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 70px;
  width: 100%;
}
.header__logo-link {
  margin-right: 60px;
}
.header__nav {
  margin-right: 55px;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 70px;
}
.header__nav-list-item {
  margin-right: 45px;
  min-height: 70px;
  border-bottom: 3px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 24px;
}
.header__nav-list-item:last-child {
  margin-right: 0;
}
.header__nav-list-item--active {
  border-bottom: 3px solid #66a0e0;
}
.header__nav-list-item--active .header__nav-list-link {
  color: #1d1d1b;
}
.header__nav-list-link {
  color: #808e96;
}
.header__nav-list-link:hover,
.header__nav-list-link:focus {
  color: #1d1d1b;
}
.header__nav-list-link:active {
  opacity: 0.7;
}
.header__settings {
  position: relative;
  padding-left: 50px;
  width: 100%;
  max-width: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__settings::after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background-color: #808e96;
  position: absolute;
  top: 0;
  left: 0;
}
.header__settings-item {
  margin-right: 30px;
}
.header__settings-item:last-child {
  margin-right: 0;
}
.header__date-time {
  margin-left: 60px;
}
.header__time {
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  color: #808e96;
  text-align: center;
}
.header__date {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #808e96;
  letter-spacing: 2.6px;
  text-align: center;
}
.header__user-block {
  margin-left: auto;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  border: 2px solid #66a0e0;
}
.header__user-link {
  display: block;
  width: 100%;
  height: 100%;
}
.header__user-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
.projects__wrapper {
  padding-top: 30px;
  width: 100%;
}
.projects__title {
  margin-bottom: 15px;
}
.projects__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.projects__form-fieldset-type {
  width: 100%;
  max-width: 364px;
  min-height: 202px;
  margin-right: 20px;
  border: 1px solid #dce8ef;
}
.projects__form-fieldset-type .cd-dropdown {
  max-width: 362px;
}
.projects__form-fieldset-type .cd-dropdown > span {
  border: none;
  border-bottom: 1px solid #dce8ef;
  max-width: 362px;
}
.projects__form-select-type {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 40px;
}
.projects__form-area-projects {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 8px;
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  min-height: 85px;
}
.projects__form-area-btn {
  width: 34px;
  height: 26px;
  border-radius: 3px;
  border: 1px solid #dce8ef;
  background-color: transparent;
  text-transform: uppercase;
  position: relative;
  margin-left: 6px;
  margin-right: 7px;
  margin-bottom: 10px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.projects__form-area-btn:hover,
.projects__form-area-btn:focus {
  border-color: #66a0e0;
}
.projects__form-area-btn:active {
  opacity: 0.7;
}
.projects__btn-counter {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 2px 4px;
  font-size: 10px;
  line-height: 1;
  background-color: #afb0b0;
  color: #ffffff;
  border-radius: 3px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.projects__form-area-btn--active {
  border-color: #66a0e0;
}
.projects__form-area-btn--active .projects__btn-counter {
  background-color: #66a0e0;
}
.projects__form-fieldset-main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
  padding: 0;
}
.projects__form-search-input {
  width: 100%;
  margin-bottom: 9px;
}
.projects__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 9px;
}
.projects__form-select-responsible,
.projects__form-select-status,
.projects__form-select-client,
.projects__form-wrapper-inner {
  width: 100%;
  max-width: 368px;
}
.projects__form-date-input {
  max-width: 176px;
  border-radius: 3px;
  background-image: url(../img/icons/calendar-icon.png);
  background-size: 17px 18px;
  background-position: calc(100% - 17px) 4px;
  background-repeat: no-repeat;
}
.projects__form-date-input::-webkit-input-placeholder {
  color: #1d1d1b;
}
.projects__form-date-input::-moz-placeholder {
  color: #1d1d1b;
}
.projects__form-date-input:-ms-input-placeholder {
  color: #1d1d1b;
}
.projects__form-date-input::-ms-input-placeholder {
  color: #1d1d1b;
}
.projects__form-date-input::placeholder {
  color: #1d1d1b;
}
.projects__employees-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px 3px;
  min-width: 38px;
  border: 1px solid #dce8ef;
  border-radius: 3px;
  max-width: 560px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.projects__employee {
  background-color: #e5f1ff;
  position: relative;
  padding-left: 12px;
  padding-top: 9px;
  padding-right: 28px;
  padding-bottom: 9px;
  margin-right: 3px;
  margin-bottom: 3px;
  border-radius: 3px;
}
.projects__employee-name-close {
  display: block;
  width: 10px;
  height: 11px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 14px;
  right: 9px;
  background-image: url(../img/icons/close-employee-icon.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.projects__employee-name-close:hover,
.projects__employee-name-close:active {
  opacity: 0.7;
}
.projects__employee-name-close:focus {
  opacity: 0.5;
}
.projects__employee-reset-btn {
  border: 1px solid #66a0e0;
  border-radius: 3px;
  padding-left: 26px;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-right: 26px;
  background-color: transparent;
  color: #66a0e0;
  font-weight: bold;
  margin-left: 20px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.projects__employee-reset-btn:hover,
.projects__employee-reset-btn:active {
  opacity: 0.7;
}
.projects__employee-reset-btn:focus {
  opacity: 0.5;
}
.projects__form-wrapper--employee-reset {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.mapping__wrapper {
  width: 100%;
}
.controls {
  min-height: 40px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.controls__btn {
  border-radius: 3px;
  border: 1px solid #66a0e0;
  font-weight: bold;
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 14px;
  margin-right: 20px;
  color: #66a0e0;
}
.controls__btn:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(18, 59, 59, 0.09);
  box-shadow: 0px 20px 30px 0px rgba(18, 59, 59, 0.09);
}
.controls__btn--disabled {
  color: #dce8ef;
  border-color: #dce8ef;
}
.controls__btn--active {
  color: #ffffff;
  background-color: #66a0e0;
}
.controls__btn--active:hover {
  opacity: 0.7;
}
.controls__add-btn {
  padding-left: 44px;
  padding-right: 22px;
  position: relative;
}
.controls__add-btn::before {
  content: "+";
  position: absolute;
  left: 23px;
  top: 7px;
  font-size: 21px;
}
.controls__tile-btn {
  position: relative;
  width: 50px;
}
.controls__tile-btn::after {
  content: "";
  display: block;
  height: 21px;
  width: 21px;
  position: absolute;
  top: 10px;
  left: 14px;
  background-image: url(../img/icons/tile-active-icon.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.controls__row-btn {
  position: relative;
  width: 50px;
}
.controls__row-btn::after {
  content: "";
  display: block;
  height: 21px;
  width: 21px;
  position: absolute;
  top: 10px;
  left: 14px;
  background-image: url(../img/icons/gamburger-active-icon.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.controls__tile-btn.controls__btn--active {
  background-color: #66a0e0;
}
.controls__tile-btn.controls__btn--active::after {
  background-image: url(../img/icons/tile-white-icon.png);
}
.controls__row-btn.controls__btn--active {
  background-color: #66a0e0;
}
.controls__row-btn.controls__btn--active::after {
  background-image: url(../img/icons/gamburger-white-icon.png);
}
.result {
  width: 100%;
}
.result__titles-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e6eff3), to(#f4f8fa));
  background-image: linear-gradient(0deg, #e6eff3 0%, #f4f8fa 100%);
  min-height: 54px;
  border-radius: 3px;
}
.result__title-item {
  font-weight: bold;
  width: 100%;
  max-width: 232px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 21px;
  padding-top: 17px;
  position: relative;
}
.result__title-item::after {
  content: "";
  display: block;
  height: 80%;
  width: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 10%;
  right: 0;
}
.result__title-item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.result__title-item:last-child::after {
  display: none;
}
.result__form-wrapper {
  background-color: #fbfdfe;
}
.result__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 64px;
}
.result__form-item-wrapper {
  width: 100%;
  max-width: 232px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 9px;
  padding-left: 14px;
}
.result__form-item-wrapper:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.result__form-input {
  border-radius: 3px;
  border: 1px solid #dce8ef;
  padding: 5px 8px;
}
.result__item {
  margin-bottom: 20px;
  position: relative;
}
.result__item-title-row {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e6eff3), to(#f4f8fa));
  background-image: linear-gradient(0deg, #e6eff3 0%, #f4f8fa 100%);
  min-height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 10px;
}
.result__item-title {
  margin-right: 18px;
}
.result__item-type {
  text-transform: uppercase;
  font-weight: bold;
  color: #66a0e0;
}
.result__item-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border: 1px solid #dce8ef;
  border-top: none;
}
.result__item-info-element {
  width: 100%;
  max-width: 232px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 8px;
  padding-bottom: 18px;
  position: relative;
}
.result__item-info-element::after {
  content: "";
  display: block;
  height: 80%;
  width: 1px;
  background-color: #dce8ef;
  position: absolute;
  top: 10%;
  right: 0;
}
.result__item-info-element:last-child::after {
  display: none;
}
.result__item-info-txt {
  margin-bottom: 0;
}
.result__item-tracking-list {
  border: 1px solid #dce8ef;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 20px 10px;
}
.result__item-tracking-item {
  background-color: #fbfdfe;
  margin-right: 20px;
}
.result__item-tracking-title {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e6eff3), to(#f4f8fa));
  background-image: linear-gradient(0deg, #e6eff3 0%, #f4f8fa 100%);
  padding-left: 12px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 0 0 8px 8px;
  font-weight: bold;
}
.result__item-tracking-controls-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 4px;
  padding-bottom: 25px;
}
.result__tracking-btn {
  border: none;
  background-color: #dcdcdc;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 6px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.result__tracking-btn:hover,
.result__tracking-btn:focus {
  opacity: 0.7;
}
.result__tracking-btn:active {
  opacity: 0.5;
}
.result__tracking-btn--orange {
  background-color: #f6a522;
}
.result__tracking-btn--orange::after {
  content: "";
  position: absolute;
  display: block;
  width: 14px;
  height: 16px;
  top: 5px;
  left: 6px;
  background-image: url(../img/icons/bell-icon.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.result__tracking-btn--red {
  background-color: #861116;
}
.result__tracking-btn--red::after {
  content: "";
  position: absolute;
  display: block;
  width: 14px;
  height: 16px;
  top: 5px;
  left: 6px;
  background-image: url(../img/icons/bell-icon.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.result__status {
  display: none;
}
.result__item-type-full-txt {
  display: none;
}
.result__tile-title {
  display: none;
}
.result__add-new-btn-wrapper {
  display: none;
}
.result__add-new-btn {
  padding-left: 44px;
  padding-right: 22px;
  position: relative;
  border-radius: 3px;
  border: 1px solid #afb0b0;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  background-color: transparent;
  color: #afb0b0;
  min-height: 40px;
}
.result__add-new-btn:hover {
  color: #ffffff;
  background-color: #afb0b0;
}
.result__add-new-btn::before {
  content: "+";
  position: absolute;
  left: 10%;
  top: 7px;
  font-size: 21px;
}
.result__item--active {
  -webkit-box-shadow: 0 20px 30px 0 rgba(18, 59, 59, 0.09);
  box-shadow: 0 20px 30px 0 rgba(18, 59, 59, 0.09);
}
.result__item--active::after {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: -9px;
  left: -9px;
  background-image: url(../img/icons/result-active-item-icon.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.result__item--active .result__add-new-btn {
  border: 1px solid #66a0e0;
  color: #66a0e0;
}
.result__item--active .result__add-new-btn:hover {
  background-color: #66a0e0;
  color: #ffffff;
}
.mapping--tile .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mapping--tile .result__titles-row {
  display: none;
}
.mapping--tile .result__form-wrapper {
  display: none;
}
.mapping--tile .result__item {
  width: 100%;
  max-width: 376px;
}
.mapping--tile .result__item:last-child {
  margin-left: 20px;
  margin-right: auto;
}
.mapping--tile .result__item-title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.mapping--tile .result__item-type {
  margin-left: auto;
  margin-top: -6px;
}
.mapping--tile .result__item-type-full-txt {
  display: inline;
}
.mapping--tile .result__status {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  border: 1px solid #dce8ef;
  border-top: none;
  position: relative;
  font-size: 13px;
}
.mapping--tile .result__status-txt {
  display: inline-block;
  padding-right: 20px;
  position: relative;
}
.mapping--tile .result__status--failed .result__status-txt::after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  top: 7px;
  right: 6px;
  background-color: #861116;
  border-radius: 50%;
}
.mapping--tile .result__status--in-progress .result__status-txt::after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  top: 7px;
  right: 6px;
  background-color: #f6a522;
  border-radius: 50%;
}
.mapping--tile .result__item-info-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 10px;
}
.mapping--tile .result__item-info-element {
  max-width: 162px;
  margin-bottom: 10px;
  border: 1px solid #dce8ef;
  border-radius: 3px;
  padding-left: 9px;
  padding-top: 1px;
  padding-right: 9px;
  padding-bottom: 1px;
  min-height: 42px;
}
.mapping--tile .result__item-info-element::after {
  display: none;
}
.mapping--tile .result__item-info-element:nth-child(even) {
  margin-left: 20px;
  margin-right: auto;
}
.mapping--tile .result__item-info-element:nth-child(odd) {
  margin-right: 20px;
  margin-left: auto;
}
.mapping--tile .result__tile-title {
  display: inline;
  color: #afb0b0;
  font-size: 13px;
}
.mapping--tile .result__item-info-element:first-child {
  width: 100%;
  max-width: 100%;
  border: none;
  border-bottom: 1px solid #dce8ef;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.mapping--tile .result__item-info-element:first-child .result__tile-title {
  display: none;
}
.mapping--tile .result__add-new-btn-wrapper {
  display: block;
  padding-top: 20px;
  border-right: 1px solid #dce8ef;
  border-left: 1px solid #dce8ef;
}
.mapping--tile .result__add-new-btn {
  display: block;
  width: 100%;
  max-width: 334px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.mapping--tile .result__add-new-btn::before {
  left: 25%;
}
.mapping--tile .result__item-tracking-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.mapping--tile .result__item-tracking-item {
  margin-right: 0;
}
.popup {
  position: fixed;
  display: none;
  -webkit-box-shadow: 0 20px 30px 0 rgba(18, 59, 59, 0.09);
  box-shadow: 0 20px 30px 0 rgba(18, 59, 59, 0.09);
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  z-index: 2000;
}
.popup__btn-close {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #dce8ef;
  background-color: #ffffff;
  position: absolute;
  top: -9px;
  right: -5px;
}
.popup__btn-close::after {
  content: "";
  display: block;
  height: 18px;
  width: 2px;
  background-color: #66a0e0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 6px;
  left: 14px;
}
.popup__btn-close::before {
  content: "";
  display: block;
  height: 18px;
  width: 2px;
  background-color: #66a0e0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 6px;
  left: 14px;
}
.popup__title {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e6eff3), to(#f4f8fa));
  background-image: linear-gradient(0deg, #e6eff3 0%, #f4f8fa 100%);
  font-size: 25px;
  font-weight: 300;
  line-height: 1;
  padding: 15px;
  margin-bottom: 30px;
}
.add-new-project {
  width: 548px;
  min-height: 562px;
  border: 1px solid #dce8ef;
  margin-left: -281px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.add-new-project__form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}
.add-new-project__form-area-projects {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 3px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  min-height: 85px;
  border: 1px solid #dce8ef;
  border-radius: 1px;
  background-color: #fbfdfe;
  margin-bottom: 30px;
}
.add-new-project__form-area-projects .projects__form-area-btn {
  margin-bottom: 20px;
}
.add-new-project__inner-title {
  width: 100%;
  padding-top: 18px;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 1;
  font-weight: 300;
}
.add-new-project__form-text {
  width: 100%;
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.add-new-project__form-textarea {
  width: 100%;
  margin-bottom: 10px;
  min-height: 95px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "Helvetica", sans-serif;
  resize: none;
}
.add-new-project__form-select {
  width: 100%;
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.add-new-project__btn-submit {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #66a0e0;
  font-weight: 700;
  margin-right: 20px;
  padding: 10px 14px;
  color: #ffffff;
  background-color: #66a0e0;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.add-new-project__btn-submit:hover {
  opacity: 0.7;
}
.add-new-project__form .cd-dropdown {
  max-width: 100%;
  margin-bottom: 20px;
}
.new-client {
  width: 548px;
  min-height: 404px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: -281px;
}
.new-client__form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.new-client__form-name,
.new-client__form-tel,
.new-client__form-email {
  width: 100%;
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.new-client__form-textarea {
  width: 100%;
  margin-bottom: 10px;
  min-height: 95px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "Helvetica", sans-serif;
  resize: none;
}
.new-client__btn-submit {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #66a0e0;
  font-weight: 700;
  margin-right: 20px;
  padding: 10px 14px;
  color: #ffffff;
  background-color: #66a0e0;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.new-client__btn-submit:hover {
  opacity: 0.7;
}
.field-settings {
  width: 548px;
  min-height: 404px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: -281px;
}
.field-settings__form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.field-settings__start-info-fieldset,
.field-settings__main-info-fieldset,
.field-settings__additional-info-fieldset {
  border: none;
  margin-bottom: 25px;
}
.field-settings__start-info-fieldset legend,
.field-settings__main-info-fieldset legend,
.field-settings__additional-info-fieldset legend {
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 18px;
}
.field-settings__checkbox-label {
  cursor: pointer;
}
.field-settings__btn-submit {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #66a0e0;
  font-weight: 700;
  margin-right: 20px;
  padding: 10px 14px;
  color: #ffffff;
  background-color: #66a0e0;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.field-settings__btn-submit:hover {
  opacity: 0.7;
}
.ui-datepicker.ui-widget-content {
  border-radius: 3px;
  border: 1px solid #dce8ef;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1100 !important;
}
.ui-datepicker-calendar tr {
  border-bottom: 1px solid #dce8ef;
}
.ui-datepicker-calendar td:nth-child(6) a {
  color: #c83f3f;
}
.ui-datepicker-calendar td:nth-child(7) a {
  color: #c83f3f;
}
.ui-datepicker-calendar thead td span {
  font-weight: 400;
}
.ui-datepicker-week-end {
  color: #c83f3f;
}
.ui-datepicker-header {
  background-color: #ffffff;
  border-color: transparent;
}
.ui-datepicker-prev.ui-corner-all {
  background-color: #ffffff;
}
.ui-datepicker-prev.ui-corner-all::after {
  content: "";
  display: block;
  width: 7px;
  height: 11px;
  position: absolute;
  top: 10px;
  left: 5px;
  background-image: url(../img/icons/prev-arrow-calendar-icon.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.ui-datepicker-next.ui-corner-all {
  background-color: #ffffff;
  right: 15px;
}
.ui-datepicker-next.ui-corner-all::after {
  content: "";
  display: block;
  width: 7px;
  height: 11px;
  position: absolute;
  top: 10px;
  left: 5px;
  background-image: url(../img/icons/next-arrow-calendar-icon.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.ui-datepicker th {
  font-weight: 300;
  color: #afb0b0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  padding-left: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/icons/select-arrow-icon.png);
  background-size: 12px 7px;
  background-position: calc(100% - 14px) 4px;
  background-repeat: no-repeat;
  border: none;
}
.cd-dropdown,
.cd-select {
  position: relative;
  display: block;
  width: 100%;
  max-width: 368px;
  height: 33px;
  font-family: "Helvetica", sans-serif;
}
.cd-dropdown > span {
  width: 100%;
  height: 33px;
  line-height: 22px;
  color: #636362;
  font-size: 15px;
  background: #ffffff;
  display: block;
  padding: 6px 40px 5px 15px;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #dce8ef;
}
.cd-dropdown > span::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 13px;
  width: 12px;
  height: 7px;
  background-image: url(../img/icons/select-arrow-icon.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.cd-dropdown.cd-active > span::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cd-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  position: relative;
}
.cd-dropdown.cd-active ul {
  display: block;
  z-index: 2000;
  border: 1px solid #dce8ef;
  border-radius: 3px;
  background-color: #ffffff;
  padding-top: 0;
  padding-bottom: 25px;
  height: auto;
  -webkit-box-shadow: 0 20px 30px 0 rgba(18, 59, 59, 0.09);
  box-shadow: 0 20px 30px 0 rgba(18, 59, 59, 0.09);
}
.cd-dropdown ul li {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.cd-dropdown ul li::after {
  content: "";
  display: block;
  height: 1px;
  width: calc(100% - 40px);
  background-color: #dce8ef;
  position: absolute;
  bottom: 0;
}
.cd-dropdown ul li span {
  max-width: 100%;
  background: #ffffff;
  line-height: 22px;
  font-size: 15px;
  display: block;
  color: #636362;
  cursor: pointer;
  font-weight: 300;
}
.cd-dropdown > span,
.cd-dropdown ul li span {
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"] {
  padding: 0 30px 0 45px;
}
/* Select fallback styling */
.cd-select {
  border: 1px solid #dddddd;
}
.cd-dropdown.cd-active ul li span > .cd-dropdown__blue-txt {
  color: #66a0e0;
  display: inline;
}
